.authentication-login-separator {
    align-items:center;
    display:flex;
    flex-direction:row;
    height:4rem;
    justify-content:center;
    margin:0 -1.5rem
   }
   .authentication-login-separator>:first-child,
   .authentication-login-separator>:last-child {
    background-color:var(--globalBorder);
    flex-grow:1;
    height:.1rem
   }
   .authentication-login-label {
    font-size:1.4rem;
    margin-top:-.1rem;
    padding:0 1rem
   }
   .authentication-login-form {
    display:flex;
    flex-direction:column
   }
   .authentication-login-form>*+* {
    margin-top:1.2rem
   }
   .authentication-login-form .authentication-login-zero-margin {
    margin-top:0
   }
   .authentication-login-options {
    align-items:center;
    color:var(--globalColorThemeMid);
    display:flex;
    font-size:1.3rem;
    justify-content:space-between
   }
   .authentication-login-options .form-checkbox-checkbox {
    margin-left:0
   }
   .authentication-login-options .form-checkbox-label {
    color:hsla(0,0%,100%,.72)
   }
   .authentication-login-options>:last-child {
    margin-left:1.5rem;
    text-align:right
   }
   .authentication-login-forgot {
    color:var(--globalColorThemeMid);
    font-weight:400
   }
   .authentication-login-forgot:hover {
    color:var(--globalColorThemeHigh)
   }
   .authentication-login-forgot-v5 {
    color:var(--globalColorThemeLink)
   }
   .authentication-login-forgot-v5:hover {
    color:var(--globalColorThemeLink);
    opacity:.8
   }
   .authentication-login-error {
    background-color:#ca3431;
    border-radius:.3rem;
    color:#fff;
    line-height:1.6;
    margin-bottom:1.6rem;
    padding:1.2rem;
    text-align:center
   }
   .authentication-login-error a {
    color:#fff;
    display:block;
    text-decoration:underline
   }
   .authentication-login-error a:hover {
    opacity:.8
   }
   .authentication-login-banner {
    background-color:#0381b8;
    border-radius:.5rem;
    margin-bottom:1.5rem;
    padding:1.5rem;
    text-align:center
   }
   .authentication-login-banner .authentication-login-text {
    color:#fff;
    font-size:1.2rem;
    margin-bottom:1.5rem
   }
   .authentication-login-banner .authentication-login-link {
    text-decoration:underline
   }
   .authentication-login-banner .authentication-login-link:hover {
    text-decoration:none
   }
   .authentication-login-banner .authentication-login-button {
    background-color:#fff;
    border-radius:.5rem;
    color:#3a729c;
    display:inline-block;
    font-size:1.2rem;
    font-weight:600;
    padding:1rem
   }
   .authentication-login-banner .authentication-login-button:hover {
    background-color:#e7e6e4
   }
   .authentication-social-signin-component {
    margin-bottom:2rem
   }
   .authentication-social-signin-component.authentication-social-signin-light,
   .authentication-social-signin-component:not(.authentication-social-signin-dark) {
    --separatorColor:rgba(0,0,0,.1)
   }
   .authentication-social-signin-component.authentication-social-signin-dark,
   .dark-mode .authentication-social-signin-component:not(.authentication-social-signin-light) {
    --separatorColor:hsla(0,0%,100%,.1)
   }
   .authentication-social-signin-options {
    align-items:center;
    display:flex;
    flex-direction:column;
    gap:1rem;
    justify-content:space-between
   }
   .authentication-social-signin-separator {
    align-items:center;
    display:flex;
    flex-direction:row;
    height:4rem;
    justify-content:center;
    margin:-1.5rem 0 2rem
   }
   .authentication-social-signin-separator>:first-child,
   .authentication-social-signin-separator>:last-child {
    background-color:var(--separatorColor);
    flex-grow:1;
    height:.1rem
   }
   .authentication-social-signin-label {
    font-size:1.4rem;
    margin-top:-.1rem;
    padding:0 1rem
   }
   .authentication-social-signin-paragraph {
    color:#8b8987;
    font-size:1.4rem;
    margin-top:-.1rem;
    padding:0 2.5rem
   }
   .authentication-social-signin-social-icon {
    height:2.2rem;
    left:2.5rem;
    position:absolute;
    width:2.2rem
   }
   .authentication-social-signin-social-icon.apple {
    position:relative
   }
   .authentication-social-signin-social-icon.apple:before {
    background-image:url(/bundles/web/images/socials/apple.d77d954d.svg);
    background-repeat:no-repeat;
    background-size:100%;
    content:"";
    height:100%;
    left:0;
    position:absolute;
    width:100%
   }
   .authentication-social-signin-social-icon.google {
    position:relative
   }
   .authentication-social-signin-social-icon.google:before {
    background-image:url(/bundles/web/images/socials/google.d19562c0.svg);
    background-repeat:no-repeat;
    background-size:100%;
    content:"";
    height:100%;
    left:0;
    position:absolute;
    width:100%
   }
   .authentication-social-signin-social-icon.facebook-button {
    position:relative
   }
   .authentication-social-signin-social-icon.facebook-button:before {
    background-image:url(/bundles/web/images/socials/facebook-button.2cbe7756.svg);
    background-repeat:no-repeat;
    background-size:100%;
    content:"";
    height:100%;
    left:0;
    position:absolute;
    width:100%
   }
   .authentication-social-signin-social-button {
    align-items:center;
    border-radius:.5rem;
    box-shadow:0 .1rem .2rem .05rem rgba(0,0,0,.15);
    display:flex;
    font-size:1.4rem;
    font-weight:600;
    justify-content:center;
    line-height:1.2;
    min-height:5rem;
    padding-left:6.5rem;
    padding-right:clamp(2rem,8vw,4rem);
    position:relative;
    width:100%
   }
   @media (min-width:30em) {
    .authentication-social-signin-social-button {
     padding-left:2rem;
     padding-right:2rem
    }
   }
   .authentication-social-signin-social-button .authentication-social-signin-social-icon {
    position:absolute
   }
   .authentication-social-signin-apple {
    background-color:#000;
    color:#fff;
    transition:color .2s ease
   }
   .authentication-social-signin-apple:hover:not(:disabled) {
    background-color:#151515;
    color:#fff
   }
   .authentication-social-signin-facebook {
    background-color:#1877f2;
    color:#fff;
    transition:color .2s ease
   }
   .authentication-social-signin-facebook:hover:not(:disabled) {
    background-color:#096bd6;
    color:#fff
   }
   .authentication-social-signin-google {
    background-color:#fff;
    border:.1rem solid #f1f1f1;
    color:#262421;
    transition:color .2s ease
   }
   .authentication-social-signin-google:hover:not(:disabled) {
    background-color:#f1f1f1;
    color:#413e39
   }
   .login-header {
    display:flex;
    justify-content:center;
    margin:1.3rem auto;
    max-width:100%;
    width:33rem
   }
   .login-header-v5 {
    margin:0 auto
   }
   .login-chessboard-background .base-container {
    align-items:center;
    display:flex;
    justify-content:center;
    padding:2rem
   }
   .login-chessboard-background .base-container:after {
    background:url(/bundles/web/images/web/chessboard-background.346891ba.png) repeat-x bottom;
    background-size:contain;
    bottom:0;
    content:"";
    height:100vh;
    left:0;
    position:fixed;
    right:0;
    z-index:-1
   }
   .login-chessboard-background #judo {
    position:absolute;
    right:0;
    top:0
   }
   .login-logo {
    background:url(/bundles/web/images/logo/logo.d5e7118b.svg) no-repeat 50%;
    background-size:contain;
    display:inline-block;
    height:3.2rem;
    text-indent:-999em;
    width:11.6rem
   }
   .login-logo-v5 {
    height:4.4rem;
    margin-bottom:3rem;
    width:15.8rem
   }
   .login-component {
    margin:0 auto 1.5rem;
    max-width:100%;
    overflow:hidden;
    width:33rem
   }
   .login-component-v5 {
    background-color:#262421;
    border-radius:1rem;
    margin:0;
    width:40rem
   }
   .login-component-v5 .login-footer {
    margin-bottom:1rem;
    width:auto
   }
   .login-form-wrapper {
    padding:1.5rem .8rem
   }
   .login-form-wrapper h1 {
    color:var(--globalColorThemeFull);
    font-family:var(--globalSecondaryFont);
    line-height:1.25;
    margin-bottom:3rem;
    text-align:center
   }
   .login-form>*+* {
    margin-top:1.5rem
   }
   .login-form-v5 {
    margin-bottom:3.5rem
   }
   img[class*=captcha_image] {
    display:block;
    margin:1rem auto 2.5rem
   }
   .login-two-factor-form {
    align-items:center;
    display:flex
   }
   .login-two-factor-label {
    color:var(--globalColorThemeMid);
    font-weight:600;
    margin-bottom:0;
    margin-right:1.5rem
   }
   .login-two-factor-cancel-button {
    height:5rem
   }
   .login-forgot-password {
    text-align:center
   }
   .login-forgot-password h1 {
    color:var(--globalColorThemeFull);
    font-family:var(--globalSecondaryFont);
    font-size:2.4rem;
    line-height:1.25;
    margin-bottom:1rem
   }
   .login-forgot-password p {
    color:var(--globalColorThemeHigh);
    font-size:1.4rem;
    line-height:1.429
   }
   .login-input {
    height:3.6rem
   }
   .login-toggle-password-visibility .login-icon-eye,
   .login-toggle-password-visibility:hover .login-icon-eye {
    color:#86aa4e
   }
   .login-submit {
    font-size:1.7rem
   }
   .login-forgot .login-submit {
    margin-top:3rem
   }
   .login-submit-v5 {
    margin-top:6rem
   }
   .login-separator {
    margin:1rem 0 .5rem
   }
   .login-label {
    color:var(--globalColorThemeMid);
    font-size:1.4rem;
    margin-top:-.1rem;
    padding:0 1rem
   }
   .login-social {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin:-.5rem 0 -1.5rem
   }
   .login-button {
    background-color:transparent;
    display:inline-flex;
    font-size:1.5rem;
    font-weight:600;
    justify-content:flex-start;
    margin:0 auto;
    min-width:12rem;
    padding:0
   }
   .login-apple {
    color:#000;
    transition:color .2s ease
   }
   .login-apple:hover:not(:disabled) {
    color:#1a1a1a
   }
   .dark-mode .login-apple {
    color:#dad8d6;
    transition:color .2s ease
   }
   .dark-mode .login-apple:hover:not(:disabled) {
    color:#f2f2f1
   }
   .login-facebook {
    color:#1877f2;
    transition:color .2s ease
   }
   .login-facebook:hover:not(:disabled) {
    color:#4893f5
   }
   .login-google {
    color:#db4437;
    transition:color .2s ease
   }
   .login-google:hover:not(:disabled) {
    color:#e36c62
   }
   .login-signup {
    background-color:var(--globalSecondaryBackground);
    border-radius:0 0 .3rem .3rem;
    color:var(--globalColorThemeMid);
    text-align:center
   }
   .login-link {
    align-items:center;
    color:var(--globalColorThemeLink);
    display:flex;
    flex-wrap:wrap;
    gap:.2rem;
    justify-content:center;
    padding:2rem 3rem
   }
   .login-link:hover .login-text-link {
    opacity:.8
   }
   .login-link-v5 {
    color:var(--globalColorThemeLink)
   }
   .login-text {
    color:var(--globalColorThemeMid);
    margin-right:.5rem
   }
   .login-options-checkbox {
    cursor:pointer
   }
   .login-error {
    color:#b23330
   }
   .login-footer {
    line-height:1.429;
    margin:0 auto;
    text-align:center;
    width:32rem
   }
   .login-footer a {
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    color:hsla(0,0%,100%,.5);
    display:inline;
    font-size:1.2rem;
    font-weight:600;
    white-space:nowrap
   }
   .login-footer a:hover {
    color:hsla(0,0%,100%,.85)
   }
   .login-footer a:not(:last-child):after {
    color:hsla(0,0%,100%,.5);
    content:" | ";
    font-size:1.1rem
   }
   @media (min-width:20.625em) {
    .login-form-wrapper {
     padding:1.5rem
    }
   }
   @media (min-width:48em) {
    .login-form-wrapper {
     padding:3rem
    }
    .login-form-wrapper-v5 {
     padding:4rem 4rem 1rem
    }
   }
   .modal-container-component {
    align-items:center;
    display:flex;
    height:100vh;
    height:100dvh;
    justify-content:center;
    left:0;
    overflow:auto;
    position:fixed;
    top:0;
    transition:opacity .3s ease;
    width:100vw;
    z-index:9999
   }
   .modal-container-parent-centered {
    height:100%;
    left:50%;
    position:absolute;
    top:50%;
    transform:translate(-50%,-50%);
    width:100%
   }
   .modal-container-bg {
    background-color:rgba(0,0,0,.65);
    bottom:0;
    left:0;
    position:fixed;
    right:0;
    top:0;
    z-index:-1
   }
   .modal-container-enter,
   .modal-container-leave {
    opacity:0
   }
   @media (min-width:60em) {
    .modal-container-content-centered {
     justify-content:start
    }
   }
   .modal-content-component {
    --modalBg:var(--globalBackgroundOpaque);
    background-color:var(--modalBg);
    border-radius:.5rem;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.5);
    margin:1rem;
    overflow:hidden
   }
   .modal-content-component.modal-content-light {
    --modalBg:#fff
   }
   .modal-content-component.modal-content-dark {
    --modalBg:#262421
   }
   .dark-mode .modal-content-component.modal-content-blurred-dark {
    -webkit-backdrop-filter:blur(1.5rem);
    backdrop-filter:blur(1.5rem);
    background-color:rgba(38,36,33,.85)
   }
   @media (min-width:60em) {
    .modal-content-component {
     margin-left:0;
     margin-right:0
    }
   }
   .section-title-dismissible-component {
    align-items:center;
    background-color:var(--globalSecondaryBackground);
    border-top-left-radius:var(--modalBorderRadius,0);
    border-top-right-radius:var(--modalBorderRadius,0);
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    min-height:4.4rem
   }
   .section-title-dismissible-name {
    color:var(--globalColorThemeMid);
    font-size:1.5rem;
    font-weight:600;
    line-height:1.2;
    padding:.8rem 1.6rem
   }
   .section-title-dismissible-close {
    background-color:transparent;
    border:none;
    color:var(--globalColorThemeLow);
    flex-shrink:0;
    height:4.4rem;
    margin:0;
    margin-left:auto;
    padding:0;
    width:4.4rem
   }
   .section-title-dismissible-close:hover {
    color:var(--globalColorThemeMid)
   }
   .section-title-dismissible-icon {
    color:currentColor;
    font-size:2.4rem
   }
   .modal-language-picker-component {
    align-items:center;
    border-radius:.3rem;
    max-height:80vh;
    max-height:80dvh;
    max-width:100%;
    overflow:auto;
    overscroll-behavior:contain;
    width:81rem
   }
   .modal-language-picker-list {
    -moz-column-count:4;
    column-count:4;
    -moz-column-width:12rem;
    column-width:12rem;
    list-style-type:none;
    margin:0;
    padding:1.5rem;
    width:100%
   }
   .modal-language-picker-item {
    display:inline-flex;
    width:100%
   }
   .modal-language-picker-link {
    --backgroundHoverBorder:#e7e6e5;
    --backgroundSelectedBorder:#bebdb9;
    border:.1rem solid transparent;
    border-radius:.5rem;
    color:var(--globalColorThemeBlueToMid);
    display:block;
    line-height:1;
    padding:.5rem 1rem;
    text-decoration:none;
    width:100%
   }
   .dark-mode .modal-language-picker-link {
    --backgroundHoverBorder:hsla(0,0%,100%,.1);
    --backgroundSelectedBorder:hsla(0,0%,100%,.2)
   }
   .modal-language-picker-link:hover {
    background-color:var(--globalSecondaryAccentBackground);
    border-color:var(--backgroundHoverBorder)
   }
   .modal-language-picker-link.modal-language-picker-selected {
    background-color:var(--globalSecondaryAccentBackground);
    border-color:var(--backgroundSelectedBorder)
   }
   .modal-language-picker-translation {
    color:var(--globalColorThemeLow);
    font-size:1.2rem
   }
   