/.env
/.vscode
/config/*
/data/*
/logs/*
/www/**
.DS_Store
/buildtest
.env
*.env/*
cli/.env/
cli/.env/**
cli/.env
tests/
tests
tests/**
*.png_original
cli/game_keys.py
cli/*.txt
cli/*.db
*.db
notes.md
scratch.txt    
js/chart.js
node_modules/
node_modules
*.xlsx
*.csv
deploy.sh

.DS_Store
node_modules
/dist

# test data
public/testData
public/testData/*


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
testusers.ods
testusers.csv
*.ods#

# configs
.eslintrc.js
jsconfig.json
vue.config.js
babel.config.js
testData/*
testData


# high secure (-_-) 
.env

