/.env
/.vscode
/config/*
/data/*
/logs/*
/www/**
.DS_Store
/buildtest
*.json
.env
*.env/*
cli/.env/
cli/.env/**
cli/.env
tests/
tests
tests/**
*.png_original
cli/game_keys.py
cli/*.txt
cli/*.db
*.db
notes.md
scratch.txt    
js/chart.js
node_modules/
node_modules
*.xlsx
*.csv
